{% extends "base.html" %}


{% block page_title %}
<h1>Send email to distribution list</h1>
{% end %}

{% block content %}
<div>
<form id="form">
    <label>
        <p class="label">Subject:</p>
        <input type="text" name="subject">
    </label><br />
    <label>
        <p class="label">Message:</p>
        <textarea name="text" rows="8" cols="50"></textarea>
    </label>
</form>

<h3 id="click" class="black_button" style="width:100px;margin-left:auto;margin-right:auto;">SUBMIT</h3>
<div id="result" style="text-align:center;"></div>
</div>
{% end %}

{% block footer %}
<script>

$.fn.serializeObject = function() {
    var o = Object.create(null),
        elementMapper = function(element) {
            element.name = $.camelCase(element.name);
            return element;
        },
        appendToResult = function(i, element) {
            var node = o[element.name];

            if ('undefined' != typeof node && node !== null && element.value != '') {
                o[element.name] = node.push ? node.push(element.value) : [node, element.value];
            } else {
                o[element.name] = element.value;
            }
        };

    $.each($.map(this.serializeArray(), elementMapper), appendToResult);
    return o;
};

$('#click').click(function () {
    
    // make ajax call to insert new resource
    $.ajax({
        url: '/admin/email',
        cache: false,
        type: 'POST',
        data : JSON.stringify($('#form').serializeObject()),
        success: function(response) {
            $('#result').text(response);
        }
    });
});
</script>
{% end %}
